main {
  padding: 100px;
}

#loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  margin: 10px;
}

#logincontainer {
    margin: auto;
    max-width: 33vw;
    min-width: fit-content;
    height: fit-content;
    display: flex;
}

#signupcontainer {
  margin: auto;
  max-width: 33vw;
  min-width: fit-content;
  height: fit-content;
  display: flex;
}