* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  max-width: 100vw;
  background-color: #00000008;
  /* margin: 20px; */
}

h3 {
  margin-bottom: 0.5em;
}

label {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  display: block;
}

#aboutindex:hover {
  cursor: url("./construction.png");
}

#contactindex:hover {
  cursor: url("./construction.png");
}

.successMsg {
  color: rgb(11, 171, 11);
  font-weight: bold;
  margin-top: 0.5em;
  font-size: larger;
}

#mainheader {
  color: #ffffff;
  background-color: #992121;
  padding: 10px;
  /* width: 100vw; */
}

#navcontainer {
  color: #00000080;
}

a {
  color: #ffffff99;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.active-page {
  color: #ffffff;
  text-decoration: underline;
}

nav {
  color: #ffffff;
  background-color: #992121;
  display: flex;
  justify-content: space-evenly;
}

button {
  min-width: fit-content;
  padding: 2px 5px 2px 5px;
}

.wrapper {
  padding: 5px;
}

.container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: fit-content;
  padding: 20px;
  margin: 10px;
  border-top: 8px solid #992121;
}

#editcontainer {
  z-index: 1;
  background-color: white;
  position: absolute;
  margin-left: 30vw;
  border-top: 8px solid #992121;
  padding: 10px;
  min-width: fit-content;
  width: 40vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  top: 30vh;
}

input,
select {
  display: block;
  margin-bottom: 10px;
}

#selectcontainer {
  width: fit-content;
}

#dbcontainer {
  overflow-wrap: normal;
}

.productCard {
  border: solid black 2px;
  padding: 10px 5px 5px 10px;
  margin: 1em 2px 0px 2px;
}

.pcButtons {
  display: flex;
  justify-content: center;
  margin: 0.75em 0;
}

.timestamps {
  padding-left: 5px;
  margin-top: 5px;
}

.timestamped {
  font-size: x-small;
  font-style: italic;
  color: gray;
}

.pcP {
  margin-bottom: 0.3em;
}

.mobilehidden {
  display: none;
}

form {
  flex: auto;
}

input:valid {
  display: block;
}

input:invalid {
  display: block;
  border: red solid 3px;
  box-sizing: border-box;
}

.desktophidden {
  display: contents;
}

.hidden {
  display: none;
}

/* .active {
  font-weight: bold;
  border: 2px solid green;
} */

/* LAPTOP DISPLAY OPTIONS */

@media (min-width: 600px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;
  }

  #mainheader {
    font-size: 19px;
  }

  #navcontainer {
    margin: 0px 44.25px;
    padding: 20px;
  }

  #dbcontainer {
    max-width: 50vw;
    overflow-wrap: normal;
  }

  #editcontainer {
    top: 25%;
  }

  .mobilehidden {
    display: contents;
  }

  .desktophidden {
    display: none;
  }

  .hidden {
    display: none;
  }
}
